/* Colors */
.special__bg{
    background: linear-gradient(#e7e5e5, #e7e5e5, #e7e5e585);
}

*{
    margin:0;
    padding:0;
}

/* BODY */
body{
    background-color: #e7e5e5;
}

/* Header */

header .logo .logo__img{
    width: 140px;
}

header .profile__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;

    cursor: pointer;
    transition: all 0.5s linear;
}

header .profile__img:hover{
    opacity: 0.7;
}

.sub__menu li{
    width: 250px;
    padding: 10px;
}

/* Main */

.content{
    overflow: hidden;
}

/* Aside */

.content .aside{
    flex:1;
    background-color: white;
}

.content .aside .aside__menu{
    list-style: none;
    margin: 40px 0px 80px 0px;
    padding: 0px 30px;
}

.aside__menu li{

    height: 80px;
    font-size: 20px;

    cursor: pointer;

    display: flex;
    align-items: center;

    transition: all 0.7s linear;
}

.aside__menu li:hover{
    background-color: aliceblue;
    color: #6accf0;
    opacity: 0.6;
}

.content .grid__menu{
    flex:2;
}

.grid__card{

    height: 10rem;
    cursor: pointer;
    margin: 10px;

    transition: all 1s linear;
}

.grid__card:hover{
    background-color: #555;
    color: white;
    opacity: 0.5;
}

.font__icon{
    font-size: 5vw;
}

/* Footer */

.footer__icons .footer__icon{
    width: 50px;
    height: 50px;

    margin: 5px;
}

.footer__copyright p {
    border-top: 1px solid #5555559c;
}

/* Modals */

.modal__settings{
    max-width: 50vw;
}

.list-group__title{
    font-weight: bold;
    color: #555;
    background-color: #e7e5e5;
}

.modal__classroom li{
    cursor: pointer;
}

.modal__classroom li:hover{
    opacity: 0.9;
    color: #6accf0;
    background-color: aliceblue;
}